.SearchBox {
    text-align: center;
    margin: 200px;
}
body {
    background: url(/ArchiveSearch/WEB/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: white;
    padding: 30px;
}
.output {
    width: 60%;
    height: 40%;
    border: 1px;
}